<!DOCTYPE html>
<html
	xmlns="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/Layout">
<head>
<meta charset="UTF-8" />
<title>Index</title>
</head>
<body>
	<a th:href="@{/users}" >Users</a>
</body>
</html>