<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/Layout">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<body>
	<h3>Add user :</h3>
	<form th:action="@{/addUser}" method="post">
		<table>
			<tr>
				<td>First Name :</td>
				<td><input type="text" name="firstName" /></td>
			</tr>
			<tr>
				<td>Last Name :</td>
				<td><input type="text" name="lastName" /></td>
			</tr>
			<tr>
				<td>Phone Number :</td>
				<td><input type="text" name="phoneNumber" /></td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" value="Add" /></td>
			</tr>
		</table>
	</form>
	<h3>List Users :</h3>
	<table border="2">
		<thead>
			<tr>
				<th>Id User</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Phone Number</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="u:${users}">
				<td th:text="${u.idUser}"></td>
				<td th:text="${u.firstName}"></td>
				<td th:text="${u.lastName}"></td>
				<td th:text="${u.phoneNumber}"></td>
				<td><a th:href="@{/deleteUser(idUser=${u.idUser})}" >Delete</a></td>
			</tr>
		</tbody>

	</table>
</body>
</html>